* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #1b3c53;
  --second-bg-color: #234c6a;
  --text-color: #d2c1b6;
  --main-color: #456882;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  height: 100vh;
  padding: 5rem 9% 2rem;
}

span {
  color: var(--main-color);
}

/* Header Section */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 9%;
  width: 100%;
  z-index: 9999;
  background-color: var(--bg-color);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navbar a {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s ease-in-out;
}

.navbar a:hover {
  color: var(--main-color);
}

/* Home Section */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home-text h3 {
  font-size: 3rem;
  font-weight: 700;
}

.home-text h1 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-text p {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-text h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

.home-social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 5px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  font-size: 2rem;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease-in-out;
}

.home-social a:hover {
  background-color: var(--main-color);
  color: var(--text-color);
  box-shadow: 0 0 1rem var(--main-color);
  transform: scale(1.1);
}

.btn {
  background-color: var(--main-color);
  border-radius: 4rem;
  padding: 1rem 2.5rem;
  color: var(--text-color);
  box-shadow: 0 0 1rem var(--main-color);
  letter-spacing: 2px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: none;
}

.home-img {
  border-radius: 50%;
  background-color: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.home-img img {
  width: 38vw;
  animation: LogoImage 6s ease-in-out infinite;
}

@keyframes LogoImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2rem);
  }

  100% {
    transform: translateY(0);
  }
}

/* About Section */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--second-bg-color);
}

.about-img img {
  width: 35vw;
}

.about-heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-text h2 {
  text-align: left;
  line-height: 1.2;
}

.about-text h3 {
  text-align: left;
  font-size: 2.3rem;
}

.about-text p {
  font-size: 1.5rem;
  margin: 2rem 0 3rem;
}

/* Services Section */

.heading {
  font-size: 3rem;
  margin-bottom: 5rem;
  text-align: center;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30px;
  background-color: var(--second-bg-color);
  padding: 2rem 3rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 5px solid var(--bg-color);
  transition: 0.3s ease-in-out;
}

.services-container .services-box:hover {
  border: 5px solid var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
  transform: scale(1.03);
}

.services-box i {
  font-size: 6rem;
  color: var(--main-color);
}

.services-box h2 {
  font-size: 2rem;
}

.services-box p {
  font-size: 1.5rem;
  margin: 1rem 0 3rem;
}

/* Portfolio Section */

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  display: flex;
  overflow: hidden;
}

.portfolio-box img {
  width: 100%;
  transition: 0.5s;
}

.portfolio-box img:hover {
  scale: calc(1.1);
}

.portfolio-box .portfolio-text {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), var(--main-color));
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
}

.portfolio-box:hover .portfolio-text {
  transform: translateY(0%);
  cursor: pointer;
}

.portfolio-text h4 {
  font-size: 3rem;
}

.portfolio-text p {
  font-size: 1.3rem;
  margin: 10px 0 1px;
}

.portfolio-text a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.portfolio-text a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

/* Contact Section */

.contact form {
  width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-box input,
textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  color: var(--text-color);
  background-color: var(--second-bg-color);
  margin: 10px 0;
}

.contact form,
.input-box input {
  width: 49%;
}

textarea {
  resize: none;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10px;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--second-bg-color);
}
.footer p {
  font-size: 1.1rem;
}

.top a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  padding: 15px;
  border-radius: 50%;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s;
}

.top a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.top a i {
  font-size: 2rem;
}

/* Responsive */

@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 991px) {
  section {
    padding: 10rem 3% 2rem;
  }

  .header {
    padding: 2rem 3%;
  }
  .footer {
    padding: 2rem 3%;
  }
  .services {
    padding: 7rem;
  }
  .portfolio {
    padding: 7rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 2rem;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .home {
    flex-direction: column;
  }
  .home-text h3 {
    font-size: 2.5rem;
  }
  .home-text h1 {
    font-size: 5rem;
  }
  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about img {
    width: 70vw;
    margin-top: 3rem;
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 50%;
  }

  .portfolio-container {
    grid-template-columns: 1fr;
  }

  .input-box input {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .home-img img {
    width: 90vw;
  }

  .about-img img {
    width: 90vw;
  }

  footer {
    flex-direction: column-reverse;
  }
}
